/* Media queries Breakpoint mixins */

@mixin display-flex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin for-small-layout {
  @media(min-width: $break-small) {
    @content;
  }
}

@mixin for-medium-layout {
  @media(min-width: $break-medium) {
    @content;
  }
}

@mixin for-large-layout {
  @media(min-width: $break-large) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr) minmax(auto, $max) minmax($layoutPadding, 1fr);
}