.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding ;

    >*.full {
        grid-column: 1 / -1;
    };
    
    > *:not(.full) {
        grid-column: 2;
    }

    @include for-small-layout {
        @include layoutGTC($break-small)
    }

    @include for-medium-layout {
        @include layoutGTC($break-medium)
    }

    @include for-large-layout {
        @include layoutGTC($break-large)
    }

}